/* Details Style */
.post .post-footer strong {
    color: #4da74d;
    padding-left: 10px;
}

.post .post-footer i {
    cursor: pointer;
}

.post .post-body .comments {
    margin: 0;
    padding-top: 15px;
    margin-top: 5px;
}

.post .post-body .comment {
    margin-bottom: 15px
}

    .post .post-body .comment p {
        font-size: 16px;
        color: #000;
        background: #eee;
        padding: 5px 10px;
        width: 95%;
        border-radius: 20px;
        margin-bottom: 0
    }

    .post .post-body .comment a {
        cursor: pointer;
        color: #777
    }

        .post .post-body .comment a:hover {
            text-decoration: underline;
            color: blue
        }

.post .post-body .comments input {
    width: 95%;
    border-radius: 20px;
    margin-top: 15px;
}

.post .heading i.edit {
    cursor: pointer;
    padding: 0 8px;
    position: relative;
    top: 3px;
    color: #4da74d;
}

.post .heading button, .post-footer button {
    color: #fff;
    border-radius: 20px;
    border: 0;
    outline: 0;
    background: #4da74d;
    font-size: 12px;
    color: #fff;
    padding: 2px 9px;
}

.post-footer button {
    margin-right: 6px;
    line-height: 20px;
    padding: 42x 18px;
    margin-top: 7px;
}

.disabled {
    cursor: not-allowed;
}
.add-comment {
    margin-top: 15px
}

hr {
    border: 1px solid #ddd;
    margin-top: 10px;
}

.modal .form-control {
    margin: 15px 0;
    border-radius: 20px;
    height: 42px;
}

.modal-footer {
    margin-top: 30px;
    padding-bottom: 0;
}

.modal button {
    border-radius: 20px;
    border: 0;
    padding: 10px 30px;
    outline: 0;
    background: #4da74d
}

    .modal button.close {
        padding: 10px 9px
    }

    .modal button:focus {
        outline: 0
    }

    .modal button.closebtn {
        border: 1px solid #4da74d;
        background: transparent;
        color: #4da74d
    }

.will-rate > i:hover {
    color: orange
}

.reply {
    position: relative;
}

    .reply textarea {
        background: #eee;
        width: 95%;
        border-radius: 25px;
    }

    .reply button {
        position: absolute;
        bottom: 7px;
        left: 42px;
        background: #4da74d;
        color: #fff;
        border: 1px solid #4da74d;
        font-size: 14px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s;
    }
    @media all and (max-width : 500px)
    {
        .reply button {
            position: absolute;
            bottom: 2px;
            left: -5px;
            background: #4da74d;
            color: #fff;
            border: 1px solid #4da74d;
            font-size: 14px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s;
        }
    }
    @media all and (max-width:320px)
    {
        .reply button {
            position: absolute;
            bottom: -32px;
            left: 17px;
            background: #4da74d;
            color: #fff;
            border: 1px solid #4da74d;
            font-size: 14px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s;
        }
    }
@media all and (min-width:320px) {
    .reply button {
        position: absolute;
        bottom: -32px;
        left: 17px;
        background: #4da74d;
        color: #fff;
        border: 1px solid #4da74d;
        font-size: 14px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s;
    }
}

/* Customer Consultation Details Style */
/* mat-card { margin-top:30px; border-radius: 20px; border: 1px solid #98c24d; }
.avatar-img { width: 80px; height: 80px; border-radius: 50%; background:#fff; border: 1px solid #98c24d; padding: 3px; }
.mat-card-title span { font-size: 22px }
.mat-card-content p { font-size: 22px; margin: 2px 24px; }
.mat-card-content button { background: #98c24d; color: #fff }
::ng-deep .mat-tab-label .mat-tab-label-content { font-size: 20px; color: #98c24d; font-weight: 700; }
.mat-tab-group { margin-top: 20px }
hr { border:1px solid #eee; margin: 20px 24px; width:95% }
.comments img { width: 50px; height:50px; margin-right:20px }
.comments p { margin: 0 }
mat-form-field  { width: 100% }
.details { border-bottom: 1px solid #ddd; margin-bottom: 20px }
.details .mat-card-title span { font-size: 18px }
.details span i { color: orange } */
