@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

@if (!String.IsNullOrWhiteSpace(Model.PageShareCode))
{
    <div class="product-share-button">
        <span> @Html.Raw(Model.PageShareCode)</span>
    </div>
}