@using Nop.Web.Models.Harag.Category;
@model CategoryWithSubCategoriesOutputModel
 
<!-- Nav -->
<ul>
    @foreach (var item in Model.Items)
    {
    <li>
        <a href="/Harag/Cat/@item.Id">@item.Name</a>
    </li>
     }
    @*<li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
                <i class="fa fa-chevron-left pull-left"></i>
                    <ul>
                        <li>
                            <a href="#">فن تصليح الايرور</a>
                        </li>
                        <li>
                            <a href="#">فن تصليح الايرور</a>
                        </li>
                    </ul>
        </li>
        <li>
            <a href="#">الرئيسية</a>
        </li>
        <li>
            <a href="#">الرئيسية</a>
        </li>*@
</ul>