 
  
            <div class="row">
                <div class="col-md-10">
                    <div class="alert alert-info" role="alert">تم أضافه الابلاغ جزاك الله خيرا</div>
                    <a href="@ViewBag.PostId">العوده للاعلان</a>
                    <a href="@ViewBag.PostId">العوده للصفحه الرئيسيه</a>
                </div>
            </div> 
