@model Nop.Web.Models.Harag.Message.MessageOutputModel


<div class="cont det-block">
    <div class="det-top">
        <small>منذ 4 دقيقة  </small>
        <div class="det-det">
            <a href="@Model.userId"><span><i class="fa fa-user"></i> @Model.User </span></a>
        </div>
    </div>
    <div class="det-bottom">
        <p>@Model.Message</p>
    </div>
</div>