@model Nop.Web.Models.ConsultantAdmin.Subcategories.SubCategoryModel


@{
    ViewBag.Title = "Categories";
    Layout = "~/Themes/Pavilion/Views/ConsultantAdmin/shared/_Layout.cshtml";
}

@Html.Partial("~/Themes/Pavilion/Views/ConsultantAdmin/Shared/_DataTable.cshtml")

<div class="posts-search">

    <a href="/Consultations/Admin/SubCategories/AddSubCategory" id="addSubCategory" class="btn btn-primary" style="float:left;">اضافة صنف فرعى</a>

    <div class="page-title">الاصناف الفرعية</div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="subCategory">
        <thead>
            <tr>
                <th>الرقم</th>
                <th>الاسم</th>
                <th>الوصف</th>
                <th>الصنف الرئيسى</th>
                
                @*<th>---</th>*@
            </tr>
        </thead>
    </table>
</div>




<script>
    var dataTable = $("#subCategory").DataTable({
    "serverSide":"true",
    "responsive": "true",
    "processing":"true",
    "autoWidth": "true",
    //"order": [[0, "des"]],
    "ajax": {

        "url":"/Consultations/Admin/SubCategories/GetSubCategoriesInJson",
    "dataType": "json",
    "type":"post"
    },

    "columns": [

        { "data": "Id", "name": "Id","width":"5%"},
    { "data": "Name"},
    { "data": "Description","width":"35%"},
    { "data": "CategoryName" },
    //{
    //"data": "Id",
    //"render": function (data) {
    //return "<button class='btn btn-danger' id='delete' data-post-id=" + data + "><i class='fa fa-trash'></i>حذف</button>" ;

    //}

    //}


    ],
    "language": {
    "sProcessing": "جارٍ التحميل...",
    "sLengthMenu": "أظهر _MENU_ مدخلات",
    "sZeroRecords": "لم يعثر على أية سجلات",
    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
    "sInfoPostFix": "",
    "sSearch": "ابحث:",
    "sUrl": "",
    "oPaginate": {
    "sFirst": "الأول",
    "sPrevious": "السابق",
    "sNext": "التالي",
    "sLast": "الأخير"
    }
    }


    });

    $("#subCategory").on("click", "#delete", function () {
        var button = $(this);
        swal({
            title: "هل انت متاكد؟",
            text: "هل انت متاكد انك تريد مسح هذه الاستشارة؟",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        "url": "/Consultations/Admin/SubCategories/DeleteSubCategory?subCategoryId=" + button.attr("data-post-id") + "",
                        "method": "DELETE",
                        "success": function (result) {
                            dataTable.row(button.parents("tr")).remove().draw();
                            //dataTable.rows().remove().draw();
                            swal("تم مسح الاستشارة بنجاح", {
                                icon: "success",

                            });


                        }
                    });
                } else {
                    swal("التراجع عن مسح هذه الرسالة؟");
                }
            });
    });
</script>

