

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    @*<meta property="twitter:site" content="@pratikborsadiya">
        <meta property="twitter:creator" content="@pratikborsadiya">*@
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vali Admin">
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme">
    <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
    <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
    <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <title>@ViewBag.Title / إدراة النظام</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/ConsultantAdmin/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link href="~/lib/adminLTE/AdminLTE-2.3.0.css" rel="stylesheet" />
    @*<link href="~/css/ConsultantAdmin/MyCss.css" rel="stylesheet" />*@
    <link href="~/css/HaragAdmin/ekko-lightbox.css" rel="stylesheet" />





    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">

</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="#">حراج</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
           
          
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        





        <ul class="app-menu">
            <li><a class="app-menu__item active" href="/Harag/Admin"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">لوحة التحكم الرئيسية</span></a></li>
            <li><a class="app-menu__item" href="/Admin/CustomerServise/Message"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">رسائل الاعضاء </span></a></li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">الاعلانات</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu" id="allPosts">
                    <li><a id="closedDisplayedPost" href="/Harag/Admin/Post/HaragPosts" class="treeview-item"><i class="icon fa fa-circle-o"></i> الاعلانات</a></li>
                    @*<li><a class="treeview-item" href="/Consultations/Admin/Posts/ClosedNotDisplayed" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i> مغلقة غير معروضة</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllNotRepliedPosts"><i class="icon fa fa-circle-o"></i> لم يرد عليها</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllReservedPosts"><i class="icon fa fa-circle-o"></i> محجوزة للرد</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllOpenPosts"><i class="icon fa fa-circle-o"></i> مفتوحة</a></li>*@
                </ul>
            </li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">البلاغات</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu" id="allPosts">
                    <li><a id="closedDisplayedPost" href="/Harag/Admin/Comment/HaragPostReports" class="treeview-item"><i class="icon fa fa-circle-o"></i> بلاغات الاعلانات</a></li>
                    @*<li><a class="treeview-item" href="/Consultations/Admin/Posts/ClosedNotDisplayed" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i> مغلقة غير معروضة</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllNotRepliedPosts"><i class="icon fa fa-circle-o"></i> لم يرد عليها</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllReservedPosts"><i class="icon fa fa-circle-o"></i> محجوزة للرد</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllOpenPosts"><i class="icon fa fa-circle-o"></i> مفتوحة</a></li>*@
                </ul>
                <ul class="treeview-menu" id="allPosts">
                    <li><a id="closedDisplayedPost" href="/Harag/Admin/Comment/HaragCommentReports" class="treeview-item"><i class="icon fa fa-circle-o"></i> بلاغات التعليقات</a></li>
                    @*<li><a class="treeview-item" href="/Consultations/Admin/Posts/ClosedNotDisplayed" target="_blank" rel="noopener"><i class="icon fa fa-circle-o"></i> مغلقة غير معروضة</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllNotRepliedPosts"><i class="icon fa fa-circle-o"></i> لم يرد عليها</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllReservedPosts"><i class="icon fa fa-circle-o"></i> محجوزة للرد</a></li>
                <li><a class="treeview-item" href="/Consultations/Admin/Posts/GetAllOpenPosts"><i class="icon fa fa-circle-o"></i> مفتوحة</a></li>*@
                </ul>

            </li>

            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">الاعضاء</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Harag/Admin/Customer/HaragCustomers"><i class="icon fa fa-circle-o"></i>الاعضاء</a></li>
                    @*<li><a class="treeview-item" href="/Consultations/Admin/Customer/GetTop20MemberByPostsNumber"><i class="icon fa fa-circle-o"></i> اعلى عشرين عضو بعدد الاشتشارات</a></li>*@
                    @*<li><a class="treeview-item" href="form-samples.html"><i class="icon fa fa-circle-o"></i> Form Samples</a></li>
                <li><a class="treeview-item" href="form-notifications.html"><i class="icon fa fa-circle-o"></i> Form Notifications</a></li>*@
                </ul>
            </li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">الاقسام</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Harag/Admin/Category/HaragCategories"><i class="icon fa fa-circle-o"></i> الاقسام </a></li>
                    <li><a class="treeview-item" href="/Harag/Admin/Category/AddHaragCategory"><i class="icon fa fa-circle-o"></i> أضف قسم</a></li>


                    @*<li><a class="treeview-item" href="page-lockscreen.html"><i class="icon fa fa-circle-o"></i> Lockscreen Page</a></li>
                <li><a class="treeview-item" href="page-user.html"><i class="icon fa fa-circle-o"></i> User Page</a></li>
                <li><a class="treeview-item" href="page-invoice.html"><i class="icon fa fa-circle-o"></i> Invoice Page</a></li>
                <li><a class="treeview-item" href="page-calendar.html"><i class="icon fa fa-circle-o"></i> Calendar Page</a></li>
                <li><a class="treeview-item" href="page-mailbox.html"><i class="icon fa fa-circle-o"></i> Mailbox</a></li>
                <li><a class="treeview-item" href="page-error.html"><i class="icon fa fa-circle-o"></i> Error Page</a></li>*@
                </ul>
            </li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">القائمة السوداء</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Harag/Admin/Customer/BlackList"><i class="icon fa fa-circle-o"></i> القائمة السوداء </a></li>
                    @*<li><a class="treeview-item" href="/Harag/Admin/Category/AddHaragCategory"><i class="icon fa fa-circle-o"></i> أضف قسم</a></li>*@


                </ul>
            </li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label"> المدن</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Harag/Admin/Comment/HaragCities"><i class="icon fa fa-circle-o"></i> المدن </a></li>
                    @*<li><a class="treeview-item" href="/Harag/Admin/Category/AddHaragCategory"><i class="icon fa fa-circle-o"></i> أضف قسم</a></li>*@


                </ul>
            </li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label"> التقييم</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Harag/Admin/Comment/HaragRates"><i class="icon fa fa-circle-o"></i> التقييم </a></li>
                    @*<li><a class="treeview-item" href="/Harag/Admin/Category/AddHaragCategory"><i class="icon fa fa-circle-o"></i> أضف قسم</a></li>*@


                </ul>
            </li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label"> البنوك</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Harag/Admin/GetAllBank"><i class="icon fa fa-circle-o"></i> البنوك </a></li>
                    @*<li><a class="treeview-item" href="/Harag/Admin/Category/AddHaragCategory"><i class="icon fa fa-circle-o"></i> أضف قسم</a></li>*@


                </ul>
            </li>
            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">رسالة لكل  الاعضاء</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Harag/Admin/PushMessage"><i class="icon fa fa-circle-o"></i> رسالة  للاعضاء </a></li>
                    @*<li><a class="treeview-item" href="/Harag/Admin/Category/AddHaragCategory"><i class="icon fa fa-circle-o"></i> أضف قسم</a></li>*@


                </ul>
            </li>

            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label"> الاعدادات</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="/Harag/Admin/Comment/HaragSettings"><i class="icon fa fa-circle-o"></i> الاعدادات </a></li>
                    @*<li><a class="treeview-item" href="/Harag/Admin/Category/AddHaragCategory"><i class="icon fa fa-circle-o"></i> أضف قسم</a></li>*@


                </ul>
            </li>


        </ul>
    </aside>

    <main class="app-content">




        @RenderBody()


    </main>
    <!-- Essential javascripts for application to work-->
    <script src="~/js/ConsultantAdmin/jquery-3.2.1.min.js"></script>
    <script src="~/js/ConsultantAdmin/popper.min.js"></script>
    <script src="~/js/ConsultantAdmin/bootstrap.min.js"></script>
    <script src="~/js/ConsultantAdmin/main.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="~/js/ConsultantAdmin/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="~/js/ConsultantAdmin/plugins/chart.js"></script>




    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/js/froala_editor.pkgd.min.js"></script>



    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/i18n/Arabic.json"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
         var data = {
             labels: ["January", "February", "March", "April", "May"],
             datasets: [
                 {
                     label: "My First dataset",
                     fillColor: "rgba(220,220,220,0.2)",
                     strokeColor: "rgba(220,220,220,1)",
                     pointColor: "rgba(220,220,220,1)",
                     pointStrokeColor: "#fff",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "rgba(220,220,220,1)",
                     data: [65, 59, 80, 81, 56]
                 },
                 {
                     label: "My Second dataset",
                     fillColor: "rgba(151,187,205,0.2)",
                     strokeColor: "rgba(151,187,205,1)",
                     pointColor: "rgba(151,187,205,1)",
                     pointStrokeColor: "#fff",
                     pointHighlightFill: "#fff",
                     pointHighlightStroke: "rgba(151,187,205,1)",
                     data: [28, 48, 40, 19, 86]
                 }
             ]
         };
         var pdata = [
             {
                 value: 300,
                 color: "#46BFBD",
                 highlight: "#5AD3D1",
                 label: "Complete"
             },
             {
                 value: 50,
                 color: "#F7464A",
                 highlight: "#FF5A5E",
                 label: "In-Progress"
             }
         ]

         var ctxl = $("#lineChartDemo").get(0).getContext("2d");
         var lineChart = new Chart(ctxl).Line(data);

         var ctxp = $("#pieChartDemo").get(0).getContext("2d");
         var pieChart = new Chart(ctxp).Pie(pdata);
    </script>
    <!-- Google analytics script-->
    <script type="text/javascript">
         if (document.location.hostname == 'pratikborsadiya.in') {
             (function (i, s, o, g, r, a, m) {
             i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                 (i[r].q = i[r].q || []).push(arguments)
             }, i[r].l = 1 * new Date(); a = s.createElement(o),
                 m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
             })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
             ga('create', 'UA-72504830-1', 'auto');
             ga('send', 'pageview');
         }
    </script>

   
    <script src="~/js/HaragAdmin/ekko-lightbox.min.js"></script>







   

    <script src="~/js/ConsultantAdmin/notify.js"></script>
</body>
</html>