@using Nop.Web.Models.Consultant.Category;
@model CategoryOutputModel
  

        @foreach (var cat in Model.Items)
        {
            <option  value="@cat.Id">
                @cat.Name
            </option>
        }
 