@using  Nop.Web.Models.Consultant.SubCategory;
@model SubCategoryOutputModel

<ul>
    @foreach (var item in Model.Items)
    {
    <li>
        @Html.RouteLink(item.Name, "Consultant.GetAllClosedPostsBySubCategoryId", new { SubCategoryId = item.Id })
    </li>
     }



    @*<li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
                <i class="fa fa-chevron-left pull-left"></i>
                    <ul>
                        <li>
                            <a href="#">فن تصليح الايرور</a>
                        </li>
                        <li>
                            <a href="#">فن تصليح الايرور</a>
                        </li>
                    </ul>
        </li>
        <li>
            <a href="#">الرئيسية</a>
        </li>
        <li>
            <a href="#">الرئيسية</a>
        </li>*@
</ul>

<!-- Nav -->
