@using Nop.Web.Models.Consultant.Category;
@model CategoryOutputModel

<div class="select">
    <select class="form-control" formControlName="categoryId">
        <option selected disabled value="" style="color:#fff">اختر التصنيف</option>

        @foreach (var cat in Model.Items)
        {
            <option  value="@cat.Id">
                @cat.Name
            </option>
        }



    </select>
</div>
