 
@model string

@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}
<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="all-rates">
                    <div class="alert alert-success" role="alert">
                        <p>
                            @Model
                        </p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> 