@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}


<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3><i class="fa fa-star"></i> الإعلانات المميزة "المثبتة" </h3>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                </div>
                <div class="feat-adv-blck">
                    <h3><i class="fa fa-star"></i> الإعلانات المميزة "المثبتة" </h3>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                </div>
                <div class="feat-adv-blck">
                    <h3><i class="fa fa-star"></i> الإعلانات المميزة "المثبتة" </h3>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                </div>
                <div class="feat-adv-blck">
                    <h3><i class="fa fa-star"></i> الإعلانات المميزة "المثبتة" </h3>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                </div>
            </div>
        </div>
    </div>
</div>
