@model ProductDetailsModel.GiftCardModel

@if (Model.IsGiftCard)
{
    <div class="giftcard">
            <div class="form-group row">
                <div class="col-md-3">
                    <label class= "control-label" asp-for="RecipientName" asp-postfix=":"></label>
                </div>
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <input asp-for="RecipientName" class="recipient-name form-control" />
                </div>
            </div>

            @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="control-label" asp-for="RecipientEmail" asp-postfix=":"></label>
                    </div>
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <input asp-for="RecipientEmail" class="recipient-email form-control" />
                    </div>
                </div>
            }
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="control-label" asp-for="SenderName" asp-postfix=":"></label>
                </div>
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <input asp-for="SenderName" class="sender-name form-control" />
                </div> 
            </div>
            @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
            {
                <div class="form-group row">
                    <div class="col-md-3">
                        <label class="control-label" asp-for="SenderEmail" asp-postfix=":"></label>
                    </div>
                    <div class="col-sm-6 col-md-5 col-xs-12">
                        <input asp-for="SenderEmail" class="sender-email form-control" />
                    </div>           
                </div>
            }
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="control-label" asp-for="Message" asp-postfix=":">@T("Products.GiftCard.Message"):</label>
                </div>
                <div class="col-sm-6 col-md-5 col-xs-12">
                    <textarea asp-for="Message" class="message form-control"></textarea>
                </div>
            </div>
    </div>
}       