
<div class="posts-search">
    <div class="row">
        <div class="col-md-3">
            <div class="row">

                <div class="col-md-2">
                    <div style="margin-top:7px; font-size:17px;"> من : </div>

                </div>
                <div class="col-md-10">
                    <input class="form-control" id="dateFrom" value="01-01-2000" type="date" placeholder="اختر تاريخ" style="direction:rtl!important;text-align:right!important">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-3">
                    <div style="margin-top:7px;font-size:17px;">    الى : </div>
                </div>
                <div class="col-md-9">
                    <input class="form-control" id="dateTo" type="date" placeholder="اختر تاريخ" style="direction:rtl!important;text-align:right!important">
                </div>
            </div>
        </div>

        <div class="col-md-1">

            <button type="button" class="btn btn-info" id="sear">بحث</button>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3" style="margin-top:6px;font-size:17px;">
                    رقم الاستشارة
                </div>
                <div class="col-md-9">
                    <div id="inputGroup" class="input-group">

                        <input class="form-control" id="postId" type="text" placeholder="">
                        <button id="postById" class="input-group-append btn btn-info">بحث</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

