@using Nop.Core
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@inject IThemeContext themeContext
@inject IStoreContext storeContext

@model LogoModel

@{
    //var logoPath = $"~/Themes/{themeContext.WorkingThemeName}/Content/img/logo.png";
    var logoPath = $"~/Themes/{themeContext.WorkingThemeName}/Content/img/logo.png";

    var themeLogo = await Component.InvokeAsync("Widget", new { widgetZone = "pavilion_theme_logo" });

}

<style>
   .logo img {
        /*width: 116px;*/
        width:64px;
        height: 64px;
        cursor: pointer;
        margin-left: 40px
    }
   @@media(min-width:1025px) and (max-width:1053px) {
    .logo img {
        margin-left: 5px
    }
   
}

    @@media(max-width:1025px) {
        .logo {
            top: 70px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .header-middle {
            margin-top: 32px;
        }
    }

</style>

<a href="@Url.RouteUrl("HomePage")" class="logo">
    @if (!String.IsNullOrEmpty(themeLogo.ToHtmlString()))
    {
        @themeLogo
    }
    else
    {
        string storeName = storeContext.CurrentStore.GetLocalized(x => x.Name);
        <img title="" alt="@storeName" src="@Url.Content(logoPath)">
    }
</a>