@model Nop.Web.Models.HaragAdmin.Reports.ReportModel

    @{ 
        Layout = "~/Themes/Pavilion/Views/HaragAdmin/Shared/_Layout.cshtml";
    }


@Html.Partial("~/Themes/Pavilion/Views/HaragAdmin/Shared/_DataTable.cshtml")

<div class="page-title">بلاغات التعليقات</div>






<!-- Button trigger modal -->
@*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
    التعليق
</button>*@

<!-- Modal -->
<div id="comment-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalBody" class="modal-body">
                    <div class="form-group">
                        <textarea id="rateComment" class="form-control" cols="60" rows="7"></textarea>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="table-responsive">
    <table id="reports" class="table table-bordered table-striped  table-condensed table-hover  table-light" cellspacing="5">
        <thead>
            <tr class="table-light">

                @*<th>العنوان</th>*@


                <th>النوع</th>

                <th>----</th>

            </tr>
        </thead>
    </table>

</div>

<script>
    $(document).ready(function () {


        var dataTable = $("#reports").DataTable({
            "serverSide": "true",
            "responsive": "true",
            "processing": "true",
            "autoWidth": "true",
            //"order": [[0, "asc"]],
            "ajax": {

                "url": "/Harag/Admin/Comment/HaragCommentReportsAjax",
                "dataType": "json",

                "type": "post"
            },

            "columns": [

                //{ "data": "ReportTitle", "name": "ReportTitle" },
                //{ "data": "ReportDescription", "name": "ReportDescription", "width": "10%" },
                
               
               
                {
                    "data": "Category",
                    "render": function (data) {
                        return (data == 1) ? "رد غير لائق" : "بخس السلعة";

                    }
                },
                {
                    "data": "CommentId",
                    "render": function (data) {
                        return "<button  id='commentModel' data-comment-id=" + data+" class='btn btn-default' data-toggle='modal' data-target='#exampleModal'>التعليق</button >"
    



                    }

                }
                //{
                //    "data": "Id", "width": "25%",
                //    "render": function (data, type, post) {
                //        return "<a id='details' href='#' class='btn btn-xs btn-default btn-small' data-post-id=" + post.Id + " ><i class='fa fa-eye' ></i> التفاصيل </a>" ;

                //    }

                //}


            ],
            "language": {
                "sProcessing": "جارٍ التحميل...",
                "sLengthMenu": "أظهر _MENU_ مدخلات",
                "sZeroRecords": "لم يعثر على أية سجلات",
                "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                "sInfoPostFix": "",
                "sSearch": "ابحث:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "الأول",
                    "sPrevious": "السابق",
                    "sNext": "التالي",
                    "sLast": "الأخير"
                }
            }


        });

        $("#reports").on("click","#commentModel", function (e) {
            var button = $(this);
            e.preventDefault();
            $.ajax({
                url: "/Harag/Admin/Comment/HaragComment?commentId=" + button.attr("data-comment-id") + "",
                type: "get",
                dataType:"json",
                success: function (data) {
                    $("#rateComment").val(data.data.Text);
                    console.log("data " + data.data.Text);
                }

            });

        });

    });
 </script>