 @model Nop.Web.Models.ConsultantAdmin.Categories.CategoriesModel


@{ 
    ViewBag.Title = "Categories";
    Layout = "~/Themes/Pavilion/Views/ConsultantAdmin/shared/_Layout.cshtml";
}

@Html.Partial("~/Themes/Pavilion/Views/ConsultantAdmin/Shared/_DataTable.cshtml")

<div class="posts-search">
    

    <a href="/Consultations/Admin/Categories/AddCategory" id="addCategory" class="btn btn-primary" style="float:left;">اضافة صنف رئيسى</a>

    <div class="page-title">الاصناف الرئيسية</div>
    
    </div>
    <div class="table-responsive display">
        <table class="table table-bordered table-hover display" id="category">
            <thead>
                <tr>
                    <th>الرقم</th>
                    <th>الاسم</th>
                    <th>الوصف</th>
                    <th>---</th>
                </tr>
            </thead>
        </table>
    </div>




    <script>
        var dataTable = $("#category").DataTable({
            "fixedHeader": {
                "header": "true",
                "footer": "true"
            },
            "serverSide": "true",
            "responsive": "true",
            "processing": "true",
            "autoWidth": "true",
            //"order": [[0, "des"]],
            "ajax": {

                "url": "/Consultations/Admin/Categories/GetCategoriesInJson",
                "dataType": "json",
                "type": "post"
            },

            "columns": [

                { "data": "Id", "name": "Id", "width": "10%" },
                { "data": "Name", "width": "35%" },
                { "data": "Description", "width": "35%" },

                {
                    "data": "Id",
                    "render": function (data) {
                        return "<a id='details' href='/Consultations/Admin/SubCategories/GetSubCategoriesByCategoryId?categoryId=" + data + "' class='btn btn-xs btn-default' data-post-id=" + data + "><i class='fa fa-eye'></i> الاصناف الفرعية </a>" /*+ " " + "<button class='btn btn-xs btn-danger' id='delete' data-post-id=" + data + "><i class='fa fa-trash' ></i> حذف</button>"*/;

                    }

                }


            ],
            "language": {
                "sProcessing": "جارٍ التحميل...",
                "sLengthMenu": "أظهر _MENU_ مدخلات",
                "sZeroRecords": "لم يعثر على أية سجلات",
                "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                "sInfoPostFix": "",
                "sSearch": "ابحث:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "الأول",
                    "sPrevious": "السابق",
                    "sNext": "التالي",
                    "sLast": "الأخير"
                }
            }


        });

        $("#category").on("click", "#delete", function () {
            var button = $(this);
            swal({
                title: "هل انت متاكد؟",
                text: "هل انت متاكد انك تريد مسح هذه الاستشارة؟",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            "url": "/Consultations/Admin/Categories/DeleteCategory?categoryId=" + button.attr("data-post-id") + "",
                            "method": "DELETE",
                            "success": function (result) {
                                dataTable.row(button.parents("tr")).remove().draw();
                                //dataTable.rows().remove().draw();
                                swal("تم مسح الاستشارة بنجاح", {
                                    icon: "success",

                                });


                            }
                        });
                    } else {
                        swal("التراجع عن مسح هذه الرسالة؟");
                    }
                });
        });
    </script>

