@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<div class="master-wrapper-page">
    @await Component.InvokeAsync("AdminHeaderLinks")
    <header>
        @await Html.PartialAsync("_Header")
        <script type="text/javascript" asp-location="Footer">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>
        <div class="container header-menu">
            @await Component.InvokeAsync("TopMenu")
        </div>
    </header>
    <div class="master-wrapper-content">
        <div class="container">
            @await Component.InvokeAsync("Widget", new { widgetZone = "content_before" })
            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb")
            }
            <div class="row master-column-wrapper">
                @RenderBody()
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "content_after" })
        </div>
    </div>
    @await Component.InvokeAsync("Footer")
</div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })
