@*<div class="row" id="">
    @for(int i=0; i <10; i++){
    <a  href="http://localhost:15536/Harag/Cat/20" class="gallerypic">
        <img style="margin: 4px" width="100" alt="المزارع" src="/HaragApi/Uploads/Images/610842432iw3viu03.dtg.Jpeg" title="المزارع" class="car_cont sprite-porsche">
    </a>
    }
</div>*@

<div class="images_list">
    <div class="img_block">
        <a href="#"><img src="~/Themes/Pavilion/Content/img/images_list/car.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="#"><img src="~/Themes/Pavilion/Content/img/images_list/chicken.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="#"><img src="~/Themes/Pavilion/Content/img/images_list/fertilizer.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="#"><img src="~/Themes/Pavilion/Content/img/images_list/mansion.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="#"><img src="~/Themes/Pavilion/Content/img/images_list/plants.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="#"><img src="~/Themes/Pavilion/Content/img/images_list/seed-bag.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="#"><img src="~/Themes/Pavilion/Content/img/images_list/smart-farm.png" width="75" /></a>
    </div>
</div>