@*<div class="row" id="">
    @for(int i=0; i <10; i++){
    <a  href="http://localhost:15536/Harag/Cat/20" class="gallerypic">
        <img style="margin: 4px" width="100" alt="المزارع" src="/HaragApi/Uploads/Images/610842432iw3viu03.dtg.Jpeg" title="المزارع" class="car_cont sprite-porsche">
    </a>
    }
</div>*@

<div class="images_list">
    <div class="img_block">
        <a href="/Harag/Cat/20"><img src="~/Themes/Pavilion/Content/img/images_list/plants.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/16"><img src="~/Themes/Pavilion/Content/img/images_list/tractor.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/17"><img src="~/Themes/Pavilion/Content/img/images_list/mansion.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/18"><img src="~/Themes/Pavilion/Content/img/images_list/buffalo.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/19"><img src="~/Themes/Pavilion/Content/img/images_list/hard-hat.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/21"><img src="~/Themes/Pavilion/Content/img/images_list/fertilizer.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/15"><img src="~/Themes/Pavilion/Content/img/images_list/seed-bag.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/22"><img src="~/Themes/Pavilion/Content/img/images_list/date.png" width="75" height="75" /></a>
    </div>
</div>
<div class="clearfix"></div>