<div class="r ow" id="">

    @for(int i=0; i <10; i++){
    <a  href="http://localhost:15536/Harag/Cat/20" class="gallerypic">
        <img style="margin: 4px" width="100" alt="المزارع" src="/HaragApi/Uploads/Images/610842432iw3viu03.dtg.Jpeg" title="المزارع" class="car_cont sprite-porsche">
    </a>
    }


</div>