@*<div class="row" id="">
        @for(int i=0; i <10; i++){
        <a  href="http://localhost:15536/Harag/Cat/20" class="gallerypic">
            <img style="margin: 4px" width="100" alt="المزارع" src="/HaragApi/Uploads/Images/610842432iw3viu03.dtg.Jpeg" title="المزارع" class="car_cont sprite-porsche">
        </a>
        }
    </div>*@
 

<div class="images_list">
    <div class="img_block">
        <a href="/Harag/Cat/20" title="الشتلات والديكورات"><img src="~/Themes/Pavilion/Content/img/images_list/20.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/16" title="المعدات الزراعية"><img src="~/Themes/Pavilion/Content/img/images_list/16.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/17" title="البيوت المحمية"><img src="~/Themes/Pavilion/Content/img/images_list/17.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/18" title="المواشى والطيور"><img src="~/Themes/Pavilion/Content/img/images_list/18.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/19" title="الخدمات والمقاولات"><img src="~/Themes/Pavilion/Content/img/images_list/19.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/21" title="الأعلاف"><img src="~/Themes/Pavilion/Content/img/images_list/21.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/15" title="المزارع والأراضى"><img src="~/Themes/Pavilion/Content/img/images_list/15.png" width="75" /></a>
    </div>
    <div class="img_block">
        <a href="/Harag/Cat/22" title="التمور"><img src="~/Themes/Pavilion/Content/img/images_list/22.png" width="75" height="75" /></a>
    </div>
</div>
<div class="clearfix"></div>



@*<br />
 <a href="/Harag/Orders"><h2 style="color: dodgerblue"> الطلبات</h2></a>
    <div id="tags-js">
       
    </div>*@ 

