@model Nop.Web.Models.Harag.Report.PostReport

@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <div class="alert alert-info" role="alert"> تم حذف الاعلان  إذا كنت قد بعت سلعتك من خلال الموقع الرجاء التوجه الي صفحة دفع عمولة الموقع</div>
        <a href="/Harag/Post/@ViewBag.PostId">العوده للاعلان</a>
        <a href="/Harag">العوده للصفحه الرئيسيه</a>
    </div>
</div>
