
@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}

<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <span>بسم الله الرحمن الرحيم</span> <br />
                <span>
                    قال الله تعالى
                    <strong> " وَأَوْفُواْ بِعَهْدِ اللهِ إِذَا عَاهَدتُّمْ وَلاَ تَنقُضُواْ الأَيْمَانَ بَعْدَ تَوْكِيدِهَا وَقَدْ جَعَلْتُمُ اللهَ عَلَيْكُمْ كَفِيلاً " </strong>
                    صدق الله العظيم
                </span>
                <br />

                <form class="commission">
                    <input type="checkbox" /> أتعهد و <strong>أقسم بالله</strong> أنا المعلن أن أدفع عمولة الموقع وهي 1% من قيمة السيارة في حالة بيعها عن طريق الموقع أو بسبب الموقع وأن هذه العموله هي أمانه في ذمتي. ملاحظة:عمولة الموقع هي على المعلن ولاتبرأ ذمة المعلن من العمولة إلا في حال دفعها،ذمة المعلن لاتبرأ من العمولة بمجرد ذكر أن العمولة على المشتري في الإعلان
                    <br /><br />
                    <input type="checkbox" />
                    أتعهد أنا المعلن أن لدي نيه جاده في البيع وأن إعلاني ليس لمجرد معرفة سعر السيارة في السوق.
                    <br /><br />
                    <input type="checkbox" />
                    أتعهد أنا المعلن أن جميع المعلومات التي سوف أذكرها بالإعلان صحيحة وفي القسم الصحيح وأتعهد أن الصور التي سوف يتم عرضها هي صور حديثة لنفس السياره وليست لسياره أخرى مشابهه.
                    <br /><br />
                    <input type="checkbox" />
                    أتعهد انا المعلن أن أقوم بدفع العمولة خلال أقل من 10 أيام من تاريخ إستلام كامل سعر السلعه.
                </form>

                <div> 
                    <a class="btn btn-default add" id="agreement-js" >استمرار</a> 
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $("#agreement-js").click(function (event) {

        var agreementItems = $(".commission > input");
        var agreed = false;

        for (var i = 0; i < agreementItems.length; i++) {
            if (agreementItems[i].checked == false) {
                agreed = false;
            } else {
                agreed = true;
            }
        }
        if (!agreed) {
            alert("لابد من الموافقه علي جميع الشروط");
            return false;
        } else {
            window.location = '@Url.RouteUrl("Harag.Post.AddNewPost")';
        }
    
    });
</script>
