@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}

<div class="row">
    <div class="col-md-10">
        <div class="alert alert-info" role="alert"> تم ارسال الرساله </div> 
        <a href="/">العوده للصفحه الرئيسيه</a>
    </div>
</div> 