@using  Nop.Web.Models.Consultant.SubCategory;
@model SubCategoryOutputModel


<select name=""
        required
        class="form-control"
        placeholder=" التصنيف الفرعى ">
    }
    <option selected
            value="0">
        التصنيف الفرعى
    </option>
    @foreach (var SubCat in Model.Items)
    {

        <option value="@SubCat.Id">
            @SubCat.Name
        </option>
    }
</select>
