@using Nop.Web.Models.Harag.Post;
@model List<CityOutputModel>



@foreach (var SubCat in Model)
{ 
    if (SubCat.IsSelected)
    {
        <option selected="selected" value="@SubCat.Id">@SubCat.Name </option>
    }
    else
    {
        <option value="@SubCat.Id">@SubCat.Name</option>
    }

}
