@using Nop.Web.Models.Harag.Post;
@model PostOutputModel
 
@*<style type="text/css">
    .orange-star {
        color: orange !important;
    }

    .btndarckgreen:hover {
        background-color: darkgreen !important;
    }
</style>*@


@if (Model.Items.Count() <= 0)
{
    <div id="tabpanelPosts" style="text-align:center"><b>لا يوجد</b></div>
}
else
{
    @foreach (var post in Model.Items)
    {
        <div class="item">
            <div class="det">
                <a href="/Harag/Post/@post.Id"><h3>@post.Title</h3></a>
                <small>@post.DateDescription</small>
                <div class="det-det">
                    <a href="/Harag/City/@post.City">
                        <span><i class="fa fa-map-marker"></i> @post.City </span>
                    </a>
                    <a href="/Harag/User/@post.PostOwner">
                        <span><i class="fa fa-user"></i> @post.PostOwner </span>
                    </a></div>
            </div>
            <div class="det-img">
                @if (!String.IsNullOrEmpty(post.Photo))
                {
                    <img src="/HaragApi/Uploads/Images/@post.Photo">
                }

            </div>
        </div>
    }
}
<!-- Post -->
 


