@using Nop.Web.Models.Consultant.Post;
@model PostOutputModel
 
    @foreach (var post in Model.Items)
    {
        <div class="row">
            <a href="/Harag/Post/@post.Id">
                <img width="150" src="~/HaragApi/Uploads/Images/@post.Photo" />
            </a>
        </div>
   
    } 
    
<script type="text/javascript">


    function getPostPaging(url) {

        var indexmyurl = url.indexOf("Consultations/Consultations");
        var myurl = url.substring(indexmyurl);
        window.location.href = myurl;

    }
</script>