@using Nop.Web.Models.Consultant.User;
@model UserModel

@if (string.IsNullOrEmpty(Model.UserRole))
{
<ul>
    <li>
        <a href="/Login">
            <i class="fa fa-lock"></i>
            <span>دخول</span>
        </a>
    </li>
    <li>
        <a href="/Register">
            <i class="fa fa-pencil"></i>
            <span>سجل الان</span>
        </a>
    </li>
</ul>
}
else
{

    <ul>
        <li class="name"><a class="ico-register">@Model.Username</a></li>
        <li class="link" (click)="logout()">@Html.RouteLink("تسجيل  خروج", "logout")</li>
         
    </ul>

}