@using Nop.Web.Models.Consultant.User;
@model UserModel

@if (string.IsNullOrEmpty(Model.UserRole))
{
    <div class="col-md-2">
        <div class="welcome">
            <a class="weLink">مرحبا  ...  دخول</a>
            <ul class="mnuList">
                <li>

                    @Html.RouteLink("دخول", "login", new { returnUrl = "consultations" }, new { @class = "login" })
                </li>
                <li>
                    <span class="noAcc">لا تمتلك حساب ؟</span> <br />

                    @Html.RouteLink("سجل الآن", "register", new { returnUrl = "consultations" }, new { @class = "register" })
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="col-md-2 profile_blck">
        <div class="avatar">
            <div class="user">
                <img src="~/images/Consultant/images/user.png" />

            </div>
            <ul>
                <li class="name"><span>@Model.Username</span></li>
                <li class="link" (click)="logout()">@Html.RouteLink("تسجيل  خروج", "logout", new { returnUrl = "consultations" })</li>
            </ul>
        </div>
    </div>
}