<link href="~/css/Consultant/CustomerConsultations.css" rel="stylesheet" />


<!-- Tab -->


<div>
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                @*<li role="presentation" [ngClass]="{'active': selectedTab==0}" *ngIf="userRole === 'Consultant'">
                    <a (click)="selectedTabChanged(0)" aria-controls="home" role="tab" data-toggle="tab">لم يتم الرد عليها  </a>
                </li>*@
                <li role="presentation" Class="active">
                    <a onclick="selectedTabChanged(0)" aria-controls="profile" role="tab" data-toggle="tab">الاستشارات المغلقة</a>
                </li>
                <li role="presentation" [ngClass]="{'active': selectedTab==1}">
                    <a onclick="selectedTabChanged(1)" aria-controls="messages" role="tab" data-toggle="tab">الاستشارات  المفتوحة</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                @*<div role="tabpanel" class="tab-pane " [ngClass]="{'active': selectedTab==0}" *ngIf="userRole === 'Consultant'" id="home">*@
                    @*<app-post *ngFor="let post of unassignedPosts" [consultation]="post"></app-post>*@
                <div id="tabpanelPosts">لا يوجد</div>
                    <not-found *ngIf="!unassignedPosts.length"></not-found>
                    <tw-pagination *ngIf="unassignedPosts.length" [numberOfPages]="paging?.totalPages" (pageChanged)="unassignedPageChanged($event)"></tw-pagination>
                @*</div>*@
                @*<div role="tabpanel" class="tab-pane" [ngClass]="{'active': selectedTab==1}" id="profile">
                    <app-post *ngFor="let post of closedPosts" [consultation]="post"></app-post>
                    <not-found *ngIf="!closedPosts.length"></not-found>
                    <tw-pagination *ngIf="closedPosts.length" [numberOfPages]="paging?.totalPages" (pageChanged)="closedPageChanged($event)"></tw-pagination>
                </div>
                <div role="tabpanel" class="tab-pane" [ngClass]="{'active': selectedTab==2}" id="messages">
                    <app-post *ngFor="let post of openPosts " [consultation]="post"></app-post>
                    <not-found *ngIf="!openPosts.length"></not-found>
                    <tw-pagination *ngIf="openPosts.length" [numberOfPages]="paging?.totalPages" (pageChanged)="openedPageChanged($event)"></tw-pagination>
                </div>*@
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    </div>

  
<script type="text/javascript">

    $(document).ready(function () {

        $.ajax({
            type: 'GET',
            url: 'Consultations/GetCustomerClosedPosts',
            success: function (data) {
                $("#tabpanelPosts").html(data);

            },
            error: function () {
                alert("حدث خطأ ما");
            }
        });


    });


    function selectedTabChanged(tabIndex) {
        var url = "Consultations/GetCustomerClosedPosts";
        if (tabIndex == 0) {
            url = "Consultations/GetCustomerClosedPosts";
        }
        else if (tabIndex == 1) {
            url = "Consultations/GetCustomerOpenPosts";
        }

        $.ajax({
            type: 'GET',
            url: url,
            success: function (data) {
                $("#tabpanelPosts").html(data);

            },
            error: function () {
                alert("حدث خطأ ما");
            }
        });
    };

</script>