@using Nop.Web.Models.Consultant.Category;
@model CategoryWithSubCategoriesOutputModel



<style type="text/css">
    li:hover div {
        display: block !important;
    }
</style>





<!-- Nav -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                

                @foreach (var item in Model.Items)
                {
                <li class="main hasSubMenu">
                   
                    @Html.RouteLink(item.Name, "Consultant.GetAllClosedPostsByCategoryId", new { CategoryId = item.Id })
                    
                    <div class="subNav">


                        <ul class="col-md-3 col-sm-6">

                            @foreach (var subCat in item.SubCategories)
                            {
                                <li>
                                    @Html.RouteLink(subCat.Name, "Consultant.GetAllClosedPostsBySubCategoryId", new { SubCategoryId = subCat.Id })
                                </li>
                            }



                        </ul>


                    </div>
                </li>
                }



               
            </ul>
        </div><!-- /.navbar-collapse -->
        

    </div><!-- /.container-fluid -->
</nav>



<div class="" id="navSelectedCat">
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="heading_nav">
                <span id="slectedCatSpan">كل التصنيفات</span> / <span id="slectedSubSpan"></span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script type="text/javascript">

        $(document).ready(function () {
            $("#navSelectedCat").css("display", "none");
        });

    

</script>



<div class="header-menu ">
    <div class="close-menu">
        <span>Close</span>
    </div>




    <style type="text/css">
            .top-menu li:hover > a {
                color: green !important;
                background-color: white !important;
                /*font-size:larger;*/
            }

            .top-menu {
                font-size: large !important;
            }
            /*.header-menu{
            width:90%;

        }*/

            #small-searchterms {
                color: black !important;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: black !important;
                opacity: .7; /* Firefox */
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: black !important;
                opacity: .7;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: black !important;
                opacity: .7;
            }
    </style>


    <input type="hidden" value="true" id="isRtlEnabled">

    <ul class="top-menu">




        <li class="root-category-items">
            <a class="with-subcategories" href="/fertilizers">أسمده</a>
            <div class="plus-button"></div>
            <div class="sublist-wrap">
                <ul class="sublist">
                    <li class="back-button">
                        <span>Back</span>
                    </li>

                    <li class="root-category-items">
                        <a href="/organic-manure">أسمده عضويه</a>
                    </li>

                    <li class="root-category-items">
                        <a href="/chemical-manure">أسمده كيمائيه</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="root-category-items">
            <a class="with-subcategories" href="/fodder">أعلاف</a>
            <div class="plus-button"></div>
            <div class="sublist-wrap">
                <ul class="sublist">
                    <li class="back-button">
                        <span>Back</span>
                    </li>

                    <li class="root-category-items">
                        <a href="/sheep-feed">اعلاف الاغنام</a>
                    </li>

                    <li class="root-category-items">
                        <a href="/%D8%A7%D8%B9%D9%84%D8%A7%D9%81-%D8%A7%D9%84%D8%AF%D9%88%D8%A7%D8%AC%D9%86">اعلاف الدواجن</a>
                    </li>

                    <li class="root-category-items">
                        <a href="/%D8%A7%D8%B9%D9%84%D8%A7%D9%81-%D8%A7%D9%84%D8%AE%D9%8A%D9%88%D9%84">اعلاف الخيول</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="root-category-items">
            <a class="with-subcategories" href="/agricultural-crops-2">محاصيل زراعية</a>
            <div class="plus-button"></div>
            <div class="sublist-wrap">
                <ul class="sublist">
                    <li class="back-button">
                        <span>Back</span>
                    </li>

                    <li class="root-category-items">
                        <a href="/vegetables">الخضروات</a>
                    </li>

                    <li class="root-category-items">
                        <a href="/fruits">الفاكهه</a>
                    </li>

                    <li class="root-category-items">
                        <a href="/cereals">الحبوب</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>