@using Nop.Web.Models.Consultant.Category;
@model CategoryWithSubCategoriesOutputModel
 
<ul>
    @foreach (var item in Model.Items)
    {
    <li>
        @Html.RouteLink(item.Name, "Consultant.GetAllClosedPostsByCategoryId", new { CategoryId = item.Id })

        @if (item.SubCategories != null && item.SubCategories.Count > 0)
        {
            <i data-cat-id="@item.Id" class="fa fa-chevron-left cat-list-js subItem pull-left"></i>
}
    </li>
     }

    @*<li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
            </li>
            <li>
                <a href="#">الرئيسية</a>
                <i class="fa fa-chevron-left pull-left"></i>
                    <ul>
                        <li>
                            <a href="#">فن تصليح الايرور</a>
                        </li>
                        <li>
                            <a href="#">فن تصليح الايرور</a>
                        </li>
                    </ul>
        </li>
        <li>
            <a href="#">الرئيسية</a>
        </li>
        <li>
            <a href="#">الرئيسية</a>
        </li>*@
</ul>

<!-- Nav -->
 
 
 