@model Nop.Web.Models.HaragAdmin.BankAccount.BankAccountModel

@{
    Layout = "~/Themes/Pavilion/Views/HaragAdmin/Shared/_Layout.cshtml";
}

@Html.Partial("~/Themes/Pavilion/Views/HaragAdmin/Shared/_DataTable.cshtml")

<div class="page-title">الحساب البنكى</div>

@*_SearchSection.cshtml*@
<div class="table-responsive">
    <table id="bankAccounts" class="table table-bordered table-striped  table-condensed table-hover  table-light" cellspacing="5">
        <thead>
            <tr class="table-light">
                <th>رقم </th>
                <th>الاسم</th>
                <th>الرقم</th>
                <th>الحساب</th>

                <th>عمليات</th>


            </tr>
        </thead>
    </table>

</div>

<script>
        $(document).ready(function () {


            var dataTable = $("#bankAccounts").DataTable({
                "serverSide":"true",
                "responsive": "true",
                "processing":"true",
                "autoWidth": "true",
                "order": [[3, "des"]],
                "ajax": {

                    "url":"/Harag/Admin/GetAllBankAjax",
                    "dataType": "json",

                    "type":"post"
                    },

                "columns": [


                    { "data": "Id","name":"Id","width":"10%"},
                    { "data": "BankName","width":"10%"},
                    { "data": "IBANNumber","width":"35%"},
                    { "data": "AccountNo"},
                    
                    {
                        "data": "Id","width":"25%",
                        "render": function (data,type,account) {
                            return "<button class='btn btn-danger' id='delete' data-post-id=" + account.Id + " ><i class='fa fa-trash' ></i>حذف</button>";//+
                            //"<button class='btn btn-primary' id='delete' data-post-id=" + account.Id + " ><i class='fa fa-trash' ></i>تعديل</button>" ;

                        }

                    }


                ],
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يعثر على أية سجلات",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }


            });

           






            $("#bankAccounts").on("click", "#delete", function () {
                var button = $(this);
                swal({
                    title: "هل انت متاكد؟",
                    text: "هل انت متاكد انك تريد المسح  ؟",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                "url": "/Harag/Admin/Comment/DeleteBank?accountId=" + button.attr("data-post-id") + "",
                                "method": "POST",
                                "success": function (result) {
                                    console.log("data "+result.data);
                                    dataTable.row(button.parents("tr")).remove().draw();
                                    //dataTable.rows().remove().draw();
                                    swal("تم مسح الاستشارة بنجاح", {
                                        icon: "success",

                                    });


                                }
                            });
                        } else {
                            swal("التراجع عن مسح هذه الرسالة؟");
                        }
                    });
            });










        });


         

</script>