@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}


<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3><i class="fa fa-star"></i> الإعلانات المميزة "المثبتة" </h3>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                </div>
                <div class="feat-adv-blck">
                    <h3><i class="fa fa-star"></i>ماهي تكلفة التثبيت؟ ماهي شروط تثبيت الإعلان؟ </h3>
                    <p>تثبيت الإعلانات خدمة مجانية. شروط تثبيت الإعلان هي:</p>
                    <p> يجب أن تحصل على @ViewBag.RateCount تقييم إيجابي خلال آخر سنه.</p> 
                    <p> يجب أن تكون السلعة تحتوي على صور و في القسم الصحيح.</p>
                    <p> يجب أن تكون السلعة لنفس التاجر وليست لشخص آخر.</p>

                </div> 
            </div>
        </div>
    </div>
</div>
