@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}



<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>السلع الممنوعة</h3>
                    <p>السلعة الموضحة هي السلع الممنوعة في الموقع. هذه السلع ممنوع الاعلان عنها في الموقع و ممنوع ايضا شرائها عبر الموقع. نحن نقوم بحظر المعلن الذي يقوم بالاعلان عن هذه السلع و نقوم بحظر من يتجاوب معه عبر الرسائل الخاصة أو عبر الردود. نرجو ملاحظة ان ليس هناك تنبيه قبل الحظر وان الحظر نهائي لانقاش فيه. </p>
                </div>
                <div class="feat-adv-blck">
                    <h3>الإعلانات الممنوعه</h3>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                </div>
                <div class="feat-adv-blck">
                    <h3>الإعلانات الممنوعه</h3>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                </div>
                <div class="feat-adv-blck">
                    <h3>الإعلانات الممنوعه</h3>
                    <p>هي خدمة تتيح للتاجر تثبيت إعلانه في القسم ليظهر بشكل مميز ممايؤدي الى زيادة المبيعات. </p>
                </div>
            </div>
        </div>
    </div>
</div>
