
@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}


<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>مقدمة</h3>
                    <p>إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على مؤسسة موقع حراج للتسويق الإلكتروني وضعت لحماية وحفظ حقوق كل من ( مؤسسة موقع حراج للتسويق الإلكتروني ) و ( المستخدم الذين يستخدم الموقع ). لكونك مستخدم فأنك توافق على الالتزام بكل مايرد بهذة الاتفاقية في حال استخدامك للموقع او في حال الوصول اليه او في حالة التسجيل في الخدمة.</p>
                </div>
                <div class="feat-adv-blck">
                    <h3>مقدمة</h3>
                    <p>إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على مؤسسة موقع حراج للتسويق الإلكتروني وضعت لحماية وحفظ حقوق كل من ( مؤسسة موقع حراج للتسويق الإلكتروني ) و ( المستخدم الذين يستخدم الموقع ). لكونك مستخدم فأنك توافق على الالتزام بكل مايرد بهذة الاتفاقية في حال استخدامك للموقع او في حال الوصول اليه او في حالة التسجيل في الخدمة.</p>
                </div>
                <div class="feat-adv-blck">
                    <h3>مقدمة</h3>
                    <p>إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على مؤسسة موقع حراج للتسويق الإلكتروني وضعت لحماية وحفظ حقوق كل من ( مؤسسة موقع حراج للتسويق الإلكتروني ) و ( المستخدم الذين يستخدم الموقع ). لكونك مستخدم فأنك توافق على الالتزام بكل مايرد بهذة الاتفاقية في حال استخدامك للموقع او في حال الوصول اليه او في حالة التسجيل في الخدمة.</p>
                </div>
                <div class="feat-adv-blck">
                    <h3>مقدمة</h3>
                    <p>إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على مؤسسة موقع حراج للتسويق الإلكتروني وضعت لحماية وحفظ حقوق كل من ( مؤسسة موقع حراج للتسويق الإلكتروني ) و ( المستخدم الذين يستخدم الموقع ). لكونك مستخدم فأنك توافق على الالتزام بكل مايرد بهذة الاتفاقية في حال استخدامك للموقع او في حال الوصول اليه او في حالة التسجيل في الخدمة.</p>
                </div>
            </div>
        </div>
    </div>
</div>
