
@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}

@{

    var ascii = System.Text.Encoding.UTF8;
    var unicode = System.Text.Encoding.Unicode;

    string terms = (System.Uri.UnescapeDataString((ViewBag.Agreement as string)).Replace("%", "\\"));
 

}

<meta charset="utf-8">
<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>مقدمة</h3>
                    <p>إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على مؤسسة موقع حراج للتسويق الإلكتروني وضعت لحماية وحفظ حقوق كل من ( مؤسسة موقع حراج للتسويق الإلكتروني ) و ( المستخدم الذين يستخدم الموقع ). لكونك مستخدم فأنك توافق على الالتزام بكل مايرد بهذة الاتفاقية في حال استخدامك للموقع او في حال الوصول اليه او في حالة التسجيل في الخدمة.</p>
                </div>
                <div class="feat-adv-blck">
                    <h3>تعريف</h3>
                    <p>
                        مؤسسة موقع حراج للتسويق الإلكتروني هي الجهة المالكة لموقع حراج وهي مؤسسة سعودية ١٠٠ ٪ مقرها الرئيسي الرياض. ويشار إليها بهذه الاتفاقية( نحن ) أو ( لنا ) ، وتمثل هنا الطرف الأول.
                        المستخدم هو الفرد او المؤسسة أو الشركة الذي يصل إلى الموقع ويستفيد من خدماته بشكل مباشر أو غير مباشر سواء كان ذلك بتسجيل أو من دون تسجيل ويمثل هنا الطرف الثاني.

                        تخضع بنود وشروط وأحكام هذه الاتفاقية والمنازعات القانونية للقوانين والتشريعات والأنظمة المعمول بها في المملكة العربية السعودية.
                    </p>
                </div>
                <div class="feat-adv-blck">
                    <h3>مقدمة</h3>
                    <p>إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على مؤسسة موقع حراج للتسويق الإلكتروني وضعت لحماية وحفظ حقوق كل من ( مؤسسة موقع حراج للتسويق الإلكتروني ) و ( المستخدم الذين يستخدم الموقع ). لكونك مستخدم فأنك توافق على الالتزام بكل مايرد بهذة الاتفاقية في حال استخدامك للموقع او في حال الوصول اليه او في حالة التسجيل في الخدمة.</p>
                </div>
                <div class="feat-adv-blck">
                    <h3>مقدمة</h3>
                    <p>إن اتفاقية الاستخدام هذه وخصوصية الاستخدام ، والشروط والبنود ، وجميع السياسات التي تم نشرها على مؤسسة موقع حراج للتسويق الإلكتروني وضعت لحماية وحفظ حقوق كل من ( مؤسسة موقع حراج للتسويق الإلكتروني ) و ( المستخدم الذين يستخدم الموقع ). لكونك مستخدم فأنك توافق على الالتزام بكل مايرد بهذة الاتفاقية في حال استخدامك للموقع او في حال الوصول اليه او في حالة التسجيل في الخدمة.</p>
                </div>
            </div>
        </div>

        @if (ViewBag.Agreement != null)
        {
         
            @Html.Raw(System.Text.RegularExpressions.Regex.Unescape(terms))


        }
    </div>
</div>
