@using Nop.Web.Models.Harag.Comment;
@model CommentOutputModel


<style>
    .commentHeader {
        background: #EDEAEA;
        padding-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
        border-bottom: 1px solid #EBE6CF;
    }
      
    .commentBody {
        /* background: #F5F5F5;
                                            border-bottom: 1px solid #EBE6CF;
                                            */
        background: #FFFFFF;
        background: #F5F5F5;
        color: #454444;
        padding: 10px;
        font-size: 1rem;
        font-size: 1.4rem;
        font-family: "Times New Roman",Times,serif;
    }

    .commentFooter {
        padding: 10px 5px;
        /* background: #F5F5F5;*/
        background: #FFFFFF;
        background: #F5F5F5;
        border-bottom: 1px solid #EBE6CF;
    }

        .commentFooter a {
            color: #919191;
        }

    .comment {
        margin: 10px; 
        border: 1px solid #EBE6CF;
        border-radius: 4px;
        word-wrap: break-word;
        word-break: break-word;
    }

    .reportPanel {
        position: relative;
        direction: ltr;
    }

    .reportPanelInfo {
        display: none;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 9;
        padding: 10px;
        background-color: #fff;
    }
    .reportToggle {
        display: block;
        width: 146px;
    }

        .reportPanelInfo button {
            margin: 5px;
        }

    .adxExtraInfoPart {
    }
</style>



@foreach (var comment in Model.Items)
{
    <!-- Comments -->
    @Html.Partial("~/Themes/Pavilion/Views/Harag/Comment/_CommentTemplatePartial.cshtml", comment)

} 
<script type="text/javascript">
     
    function ratecomment(id, commentId, postId, type) {
        $.ajax({
            type: 'GET',
            url: '/Harag/Comment/ReportCommentAjax/' + postId + '/' + commentId  + '/' + type,
            complete: function (data) {
                if (data.status == 200)
                    id.html("<p class='alert alert-success'>تم اضافه الابلاغ</p>");
                else
                    alert("لم يتم اضافه الابلاغ تاكد من اتصال انترنت")
            }
        });
    }
    $(".uprate").on("click", function () {
        var upRate = $(this);

        var commentId = upRate.attr("data-commentId");
        var postId = upRate.attr("data-postId"); 

        var btn = $(this).attr("data-report");
        ratecomment($("#id-" + btn + ""), commentId, postId, 1);
    });

    $(".downrate").on("click", function () {
        var downRate = $(this);

        var commentId = downRate.attr("data-commentId");
        var postId = downRate.attr("data-postId");

        var btn = $(this).attr("data-report");
        ratecomment($("#id-" + btn + ""), commentId, postId, 2);
    });
 
    $(".report").on("click", function () {
        var btn = $(this).attr("data-report");
        console.log(btn);
        $("#" + btn +"").toggleClass('reportToggle');  
    });

   
</script>