@{
    Layout = "";

}
@using System;
@using Nop.Web.Framework.UI

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Welcome
                </div>
                <div class="panel-body">
                    <h4>
                        Please copy theme folder 'TechnoDefaultClean' and paste Themes folder.
                    </h4><br />
                    <h5>
                        Please select 'TechnoDefaultClean' for running Horizon Mega Menu plugin in Default nopcommerce templates. <a href="~/Admin/Setting/GeneralCommon">Click here...</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>










