
@media all and (max-width : 500px){
    #con-rate {
        display: none !important;
    }
    .reply button {
        position: absolute;
        bottom: 2px;
        left: -5px;
        background: #4da74d;
        color: #fff;
        border: 1px solid #4da74d;
        font-size: 14px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s;
    }
    
}
@media all and (max-width : 320px)
{
    #stars {
        font-size: 10px;
    }
}

