@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    
    ViewBag.Title = "Test";
}

<h2>الرسائل</h2>
<div class="container-fluid table-responsive">
    <table id="table" class="table table-bordered table-hover tab-content">
        <thead>
            <tr>

                <th>الاسم</th>
                <th>الايميل</th>
                <th>الرسائل</th>
                <th>التاريخ</th>
                <th>عمليات</th>

            </tr>
        </thead>

    </table>
</div>
<link href="~/css/ConsultantAdmin/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="~/js/ConsultantAdmin/jquery-3.3.1.min.js"></script>
<script src="~/js/ConsultantAdmin/popper.min.js"></script>
<script src="~/js/ConsultantAdmin/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.19/i18n/Arabic.json"></script>
    <script>
        $(document).ready(function () {


            var dt = $("#table").DataTable({
                "responsive": "true",
                //"serverSide": "false",
                //"serverSide": "true",
                //"processing": "true",
                //"order":[[3,"des"]],
                "ajax": {
                    //"url": "/Consultations/Admin/Posts/ClosedDisplayedWithJson",
                    //"dataType": "Json",

                    "url": "/Consultations/Admin/Posts/ClosedDisplayedWithJson",
                    "dataType": "json",
                    
                    "contentType": "application/json; charset=utf-8",
                    "srcData":"data",
                    "type": "GET"
                },

                "columns": [

                    { "data": "Text" },
                    { "data": "Title" },
                    { "data": "DateCreated" },
                    { "data": "DateUpdated" },
                    { "data": "CategoryName" },
                  
                ],
                columnDefs: [
                    { width: "20%", "targets": 0 }
                ],
                "pageLength": 5,
                "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يعثر على أية سجلات",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }

            });
            new $.fn.dataTable.FixedHeader(table);
        });
    </script>





















@*@model Niyat.Models.ContactUs

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>الرسائل</h2>*@



