<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
<script src="~/js/Consultant/jquery.min.js"></script>
<link href="~/css/Consultant/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/Consultant/bootstrap.min.js"></script>


<link href="~/css/Consultant/bootstrap-rtl.min.css" rel="stylesheet" />
<link href="~/fonts/Consultant/font-awesome.min.css" rel="stylesheet" />



<link href="~/css/Consultant/ConsultantCss.css" rel="stylesheet" />
<link href="~/css/Consultant/Home.css" rel="stylesheet" />

@*<link href="~/css/Consultant/styles.8b7c59f753ce6d8c7b77.css" rel="stylesheet" />*@


<script src="~/js/Consultant/main.js"></script>
<script src="~/js/Consultant/jquery.nicescroll.min.js"></script>




<div id="header"></div>





<!-- Home -->
<div class="home" id="homeBody">
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="allPage" id="allpage">
                <!-- Add Post -->
                <div id="AddPost">
                    @using (Html.BeginForm("Consultations", "AddPost", FormMethod.Post, new { @class = "addConsultation", id = "addPostForm" }))
                    {




                        @*<form [formGroup]="postForm" (ngSubmit)="addPost(postForm.value)"
            *ngIf="userData && userData?.userRole !== '!Consultant'" class="addConsultation">*@
                        <div class="block">
                            <img src="~/images/Consultant/images/ask_bg.jpeg" class="ask" />
                            <div class="block_details">
                                <div class="row">
                                    <div class="col-xs-3"></div>
                                    <div class="col-xs-6">
                                        <h3>اسأل استشارى </h3>
                                        <div id="categoryList" class="select">
                                            <select class="form-control" formControlName="categoryId">
                                                <option selected disabled value="" style="color:#fff">اختر التصنيف</option>
                                            </select>
                                        </div>
                                        <input id="postTitle" type="text" class="form-control title" placeholder="عنوان الاستشارة" />
                                    </div>
                                    <div class="col-xs-3"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-10">
                                        <div class="bordering">
                                            <textarea id="postText" class="form-control" rows="4" formControlName="text" placeholder="اشرح المشكلة الخاصة بك"></textarea>

                                            <div class="images">
                                                <div class="img_blck">
                                                    @**ngFor="let image of uploadedFiles; let i = index">*@
                                                    @*<img src="" width="100" height="60" />*@
                                                    <div class="overlay">
                                                        <i class="fa fa-trash"></i> @*(click)="deleteFile(i)"></i>*@
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <p class="file">
                                            <input type="file" name="file" (change)="fileSelected($event)" accept="image/*" id="file" />
                                            <label for="file">تحميل صورة</label>
                                        </p>

                                    </div>
                                    <div class="col-xs-1"></div>
                                </div>


                            </div>
                            <button type="submit">نشر</button>
                        </div>
                        @*</form>*@
                    }
                    </div>

                    <!-- Posts -->
                    @*<app-post *ngFor="let post of posts" [consultation]="post"></app-post>*@
                    <div id="posts"></div>
                    <not-found *ngIf="!posts.length"></not-found>
                    <tw-pagination *ngIf="posts?.length" [numberOfPages]="totalNumberOfPages" (pageChanged)="getClosedPost($event)"></tw-pagination>
                </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

    

<div class="home" id="otherpage"></div>


    <script>





        $(document).ready(function () {


            $.ajax({
                type: 'GET',
                url: 'Consultations/GetUserInfo',

                success: function (data) {
                    $("#header").html(data);
                }

            });


            $.ajax({
                type: 'GET',
                url: 'Consultations/GetCategories',

                success: function (data) {
                    $("#categoryList").html(data);
                }

            });


            $.ajax({
                type: 'GET',
                url: 'Consultations/GetAllClosedPosts',

                success: function (data) {
                    $("#posts").html(data);
                }
            });






            $("#addPostForm").submit(function (event) {

                /* stop form from submitting normally */
                event.preventDefault();


                var CategoryId = $('#categoryList').find(":selected").val();

                var Title = $('#postTitle').val();
                var Text = $('#postText').val();
                var Files = [];
                var url = 'Consultations/AddPost';

                var postForPostModel = {
                    Text: Text,
                    Title: Title,
                    CategoryId: CategoryId,
                    Files: []
                };


                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type: "POST",
                    url: 'Consultations/AddPost',
                    dataType: 'json',
                    data: JSON.stringify(postForPostModel),
                    complete: function (data) {
                        if (data.status == 200) {
                            alert("تمت اضافة الاستئارة بنجاح يمكنك الذهاب الى استشاراتى لرؤية الاستشاراة");
                        }
                        else {
                            alert("حدث خطأ ما تأكد من الاتصال بالانترنت");
                        }
                    }
                });

                event.preventDefault();

            });

            

        });

        

    </script>
