@model ProductDetailsModel

@using Nop.Core;

@inject IWebHelper webHelper

@{
    var shareUrl = webHelper.GetStoreLocation() + Model.SeName;
}

<style>
    a.social {
        padding: 0 2px
    }
    a.social i { line-height:35px }
</style>

<div class="product-social-buttons">
    <label>@T("sevenspikes.themes.pavilion.products.sharing.text"):</label>

    <a class="social" href="javascript:openShareWindow('https://www.facebook.com/sharer.php?u=@shareUrl')">
        <i class="fa fa-facebook fa-lg"></i>
    </a>

    <a class="social" href="javascript:openShareWindow('https://twitter.com/share?url=@shareUrl')">
        <i class="fa fa-twitter fa-lg"></i>
    </a>

    <a class="social" href="javascript:openShareWindow('https://api.whatsapp.com/send?text=@shareUrl')">
        <i class="fa fa-whatsapp fa-lg"></i>
    </a>
    <a class="social" onclick="setLocation('/productemailafriend/' + '@Model.Id')">
        <i class="fa fa-envelope-o fa-lg"></i>
    </a>

    <script type="text/javascript" asp-location="Footer">
        function openShareWindow(url) {
            var winWidth = 520;
            var winHeight = 400;
            var winTop = (screen.height / 2) - (winHeight / 2);
            var winLeft = (screen.width / 2) - (winWidth / 2);

            window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
        }
    </script>
</div>
