@model ProductDetailsModel

@using Nop.Core;

@inject IWebHelper webHelper

@{
    var shareUrl = webHelper.GetStoreLocation() + Model.SeName;
}

<div class="product-social-buttons">
    <label>@T("sevenspikes.themes.pavilion.products.sharing.text"):</label>
    <ul class="social-sharing">
        <li class="share-wha tsapp">
            <!-- Google+ -->
            <a style="background: none; margin-left:  18px; margin-top: -15px" href="javascript:openShareWindow('https://api.whatsapp.com/send?text=@shareUrl')">
                <img width="60" src="/Themes/Pavilion/Content/img/whatsapp-image.png" />
            </a>
        </li>
        <li class="facebook">
            <!-- Facebook -->
            <a href="javascript:openShareWindow('https://www.facebook.com/sharer.php?u=@shareUrl')">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>
        <li class="twitter">
            <!-- Twitter -->
            <a href="javascript:openShareWindow('https://twitter.com/share?url=@shareUrl')">
                <span class="flip"></span>
                <span class="flop"></span>
            </a>
        </li>

        <li style="background: none; margin-left:  18px; margin-top: -15px">
            <a class="btn fa fa-inbox email-a-friend-button" onclick="setLocation('/productemailafriend/' + '@Model.Id')">
                <img style="width: inherit; margin: 3px;" width="60" src="https://cdn1.iconfinder.com/data/icons/rcons-line-ios-3/32/mail-512.png" />
            </a>
        </li>
    </ul>

    <script type="text/javascript" asp-location="Footer">
        function openShareWindow(url) {
            var winWidth = 520;
            var winHeight = 400;
            var winTop = (screen.height / 2) - (winHeight / 2);
            var winLeft = (screen.width / 2) - (winWidth / 2);

            window.open(url, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
        }
    </script>
</div>
