 
@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}


<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>عمولة حراج</h3>
                    <p>كما هو مذكور في معاهدة استخدام الموقع، فإن الموقع يحصل على عمولة قدرها 1% من سعر السلعة المباعة عن طريق الموقع و يدفعها المعلن، وهي أمانه في ذمته. إذا كانت السلعة المباعة سلعه عقاريه، وبها أكثر من وسيط، فإن الموقع يكون أحد الوسطاء، ويتقاسم العمولة معهم. ويعتبر هذا الشرط اتفاقاً ملزماً، يحق بموجبه للموقع المطالبة بهذه العمولة.إن كانت قيمة العمولة أقل من 20 ريال سعودي ، فيمكن التصدق بها عن الموقع. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>ملاحظات :</h3>
                    <ul type="disc">
                        <li>سيارات الإيجار المعروضه للتنازل تكون عمولتها حسب القيمة المدفوعه خلال الاتفاق. مثلا لو اراد شخص التنازل عن سيارته وباقي عليها 20 قسط واتفق مع شخص ان يتنازل عنها له بمبلغ 10 الف ريال فأن عمولة الموقع هي 100 ريال. اذا كان التنازل مجانيا فأن العموله أيضا مجانيه.</li>
                        <li>بالنسبة للسيارات المتبادلة عن طريق الموقع، اذا كان المبادله رأس برأس فالعمولة تعتبر مجانية، وإذا كان هناك مبلغ مدفوع خلال المبادله فان العموله هي على المبلغ المدفوع فقط. مثلا لو اتفق شخصين على مبادلة سياره بسياره أخرى مع دفع 10 الف ريال كزيادة فان العمولة هي 100 ريال فقط يدفعها المعلن.</li>
                        <li>بالنسبه للعمولة على الطلبات: اذا وجد صاحب الاعلان عن الطلب سلعته عن طريق الموقع ولم يسبق لصاحب السلعه الإعلان عنها في الموقع من قبل فأن العمولة هي 1% على صاحب الطلب . اذا كانت السلعه قد سبق الإعلان عنها في الموقع فأن العمولة هي على صاحب السلعه.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>حساب العمولة</h3>
                    <p>
                        اذا تم بيع السلعة بسعر
                        <input class="form-control" type="text" placeholder="0" style="width:115px; display: inline-block" />
                        ريال فأن المبلغ المستحق دفعه هو : <span style="border-radius:4px; background:#d9edf7; padding:4px">  0  </span>  ريال
                    </p>
                    <p>التفاصيل: </p>
                    <p>
                        عمولة الموقع هي: <span> 0 </span> ريال <br />
                        ضريبة القيمة المضافة هي:  <span> 0 </span> ريال
                    </p>
                    <p>
                        - عمولة الموقع هي 1 % من سعر السلعة. <br />
                        - ضريبة القيمة المضافة هي 5 % من عمولة الموقع.
                    </p>

                    <hr />

                    <p>
                        مؤسسة موقع حراج للتجارة  <br />
                        سجل تجاري رقم: 1010283122 <br />
                        الرقم الضريبي: 300710482300003 <br />
                        قرطبة، الرياض ، المملكة العربية السعودية .
                    </p>

                    <hr />

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>دفع العمولة</h3> <br />
                    <h3>الطريقة الأولى</h3>
                    <p>يمكنك استخدام التحويل البنكي لدفع العموله عن طريق إرسال حواله إلى حساباتنا في البنوك المحليه.</p>

                    <hr />

                    <p>
                        البنك الأهلي التجاري <br />
                        مؤسسة موقع حراج للتجارة <br />
                        رقم الحساب <span style="color:blue"> 26463101000104 </span> <br />
                        الايبان SA69 1000 0026 4631 0100 0104
                    </p>

                    <button class="btn btn-default add" type="button"> ارسل رقم الحساب لجوالك SMS  </button>

                    <hr />

                    <p>
                        البنك الأهلي التجاري <br />
                        مؤسسة موقع حراج للتجارة <br />
                        رقم الحساب <span style="color:blue"> 26463101000104 </span> <br />
                        الايبان SA69 1000 0026 4631 0100 0104
                    </p>

                    <button class="btn btn-default add" type="button"> ارسل رقم الحساب لجوالك SMS  </button>

                    <hr />

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>الطريقة الثانية</h3>
                    <p>بإمكانك سداد العمولة عن طريق <a href="/Harag/Payment/Sadad"> نظام سداد </a></p><br />
                    <p>بعد إرسال المبلغ،يجب مراسلتنا عبر النموذج التالي لأجل تسجيل العمولة بأسم عضويتك ثم الحصول على مميزات الموقع الخاصة بالعملاء:</p>
                    <form>
                        <input class="form-control" type="text" placeholder="أدخل رقم الحساب أو رقم الجوال هنا" style="width: 20%" />
                        <button class="btn btn-default add" type="button"> فحص >>  </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <form class="add-adverse">
                    <div class="col-md-4">
                        <label>اسم المستخدم</label> <br />
                        <input type="text" class="form-control" placeholder="اسم المستخدم" />
                    </div>
                    <div class="col-md-4">
                        <label>مبلغ العمولة</label> <br />
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label> البنك الذى تم التحويل اليه </label> <br />
                        <select class="form-control" placeholder="اختر اسم البنك ">
                            <option>اختيار 1 </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label> متى تم التحويل ؟ </label> <br />
                        <select class="form-control" placeholder="اختر ..... ">
                            <option>اختيار 1 </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>اسم المحول</label> <br />
                        <input type="text" class="form-control" placeholder="اسم المحول" />
                    </div>
                    <div class="col-md-4">
                        <label>رقم الاعلان</label> <br />
                        <input type="text" class="form-control" placeholder="رقم الاعلان" />
                    </div>
                    <div class="col-md-12">
                        <label>ملاحظات</label> <br />
                        <textarea class="form-control txtArea" placeholder="ملاحظات" rows="7"></textarea>
                    </div>
                    <div class="col-md-12">
                        <p style="margin-top:15px"> نرجو الحرص على أن تكون معلومات التحويل صحيحة ودقيقه </p>
                    </div> 
                    <div class="col-md-12">
                        <button class="btn btn-default add" type="submit">ارسال</button>
                    </div>
                </form>
         
            </div>
        </div>
    </div>
</div>
