 

@{
    Layout = "~/Themes/Pavilion/Views/Harag/Shared/_Header.cshtml";
}


<!-- Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>عمولة حراج</h3>
                    <p>كما هو مذكور في معاهدة استخدام الموقع، فإن الموقع يحصل على عمولة قدرها 1% من سعر السلعة المباعة عن طريق الموقع و يدفعها المعلن، وهي أمانه في ذمته. إذا كانت السلعة المباعة سلعه عقاريه، وبها أكثر من وسيط، فإن الموقع يكون أحد الوسطاء، ويتقاسم العمولة معهم. ويعتبر هذا الشرط اتفاقاً ملزماً، يحق بموجبه للموقع المطالبة بهذه العمولة.إن كانت قيمة العمولة أقل من 20 ريال سعودي ، فيمكن التصدق بها عن الموقع. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>حساب العمولة</h3>
                    <p>
                        اذا تم بيع السلعة بسعر
                        <input class="form-control" type="text" placeholder="0" style="width:115px; display: inline-block" />
                        ريال فأن المبلغ المستحق دفعه هو : <span style="border-radius:4px; background:#d9edf7; padding:4px">  0  </span>  ريال
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>دفع العمولة</h3> <br />
                    <h3>الطريقة الأولى</h3>
                    <p>يمكنك استخدام التحويل البنكي على  <a href="/Harag/Payment/Banks"> حساباتنا البنكية </a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 cont">
                <div class="feat-adv-blck">
                    <h3>الطريقة الثانية</h3>
                    <p>بأمكانك دفع العمولة عن طريق خدمة سداد للدفع الإلكتروني، SADAD Online Payment. خدمة سداد للدفع الالكتروني هي خدمة توفر للمشتري الدفع عن طريق الانترنت.</p>
                    <br />
                    <img src="~/images/Consultant/images/sadad_logo.png" width="250" style="margin-bottom:20px" />
                    <form>
                        <input class="form-control" type="text" placeholder="اسم المستخدم فى سداد" style="width: 20%" /> <br />
                        <input class="form-control" type="number" placeholder="0" style="width: 20%" />
                        <a href="https://www.sadad.com/ar" class="btn btn-default add" > الانتقال الى سداد >>  </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
