@*@model Nop.Web.Models.HaragAdmin.BankAccount.BankAccountModel*@

@{
    Layout = "~/Themes/Pavilion/Views/HaragAdmin/Shared/_Layout.cshtml";
}

@Html.Partial("~/Themes/Pavilion/Views/HaragAdmin/Shared/_DataTable.cshtml")

<div class="page-title">الدفع</div>


<div class="table-responsive">
    <table id="bankPayment" class="table table-bordered table-striped  table-condensed table-hover  table-light" cellspacing="5">
        <thead>
            <tr class="table-light">

                <th>البنك</th>
                <th>الحساب</th>
                <th>التاريخ</th>
                <th>اسم المستخدم</th>
                <th> الدافع</th>
                <th> العمولة </th>
                <th> الملاحظات</th>
                <th>عمليات</th>
                <th>تاكيد عمليه الدفع</th>


            </tr>
        </thead>
    </table>

</div>

<script>
        $(document).ready(function () {


            var dataTable = $("#bankPayment").DataTable({
                "serverSide":"true",
                "responsive": "true",
                "processing":"true",
                "autoWidth": "true",
                "order": [[3, "des"]],
                "ajax": {

                    "url":"/Harag/Admin/GetAllBankPaymentsAjax",
                    "dataType": "json",

                    "type":"post"
                    },

                "columns": [


                    { "data": "BankName","width":"10%"},
                    { "data": "BankAccount","width":"15%"},
                    { "data": "UserName", "width": "13%" },
                    { "data": "TransactionDate","width":"13%"},
                    { "data": "TransatctorUser", "width": "13%"},
                    { "data": "SiteAmount" },
                    { "data": "Notes" },
                    {
                        "data": "PostId","width":"10%",
                        "render": function (data) {
                            return "<a href='/Harag/Admin/Post/HaragPostsDetails?postId=" + data + "' class='btn btn-xs btn-hover btn-small'   >الاعلان</a>";
                               

                        }

                    },

                    {
                        "data": function (data, type, dataToSet) {

                            return data; 
                        },
                        "width": "10%",
                        "render": function (data) {
                            return "<a  class='btn btn-primary confirsm-payment' " + data.Confirmed + " data-paymentId='" + data.Id + "' " + (data.Confirmed === true ? "style='" : "") + "' class='btn btn-xs btn-hover btn-small'>" + (data.Confirmed === true ? "تم التاكيد" : "تاكيد") + "</a > ";


                        }

                    }
                ],
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يعثر على أية سجلات",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }


            });



            $(".confirsm-payment").on('click', function () {
                var button = $(this);
                swal({
                    title: "هل انت متاكد؟",
                    text: "هل انت متاكد انك تريد مسح  ؟",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                "url": "/Harag/Admin/Payment/ConfirmPayment/" + button.attr("data-paymentId") + "",
                                "method": "DELETE",
                                "success": function (result) {
                                    button.html("تم التاكيد");
                                    button.attr("disabled") = "disabled";
                                    swal("تم تاكيد الدفع  ", {
                                        icon: "success",

                                    });


                                }
                            });
                        }
                    });
            });




            $("#bankPayment").on("click", "#delete", function () {
                var button = $(this);
                swal({
                    title: "هل انت متاكد؟",
                    text: "هل انت متاكد انك تريد مسح  ؟",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                "url": "/Harag/Admin/Comment/DeleteBank?accountId=" + button.attr("data-post-id") + "",
                                "method": "DELETE",
                                "success": function (result) {
                                    console.log("data "+result.data);
                                    dataTable.row(button.parents("tr")).remove().draw();
                                    //dataTable.rows().remove().draw();
                                    swal("تم مسح الاستشارة بنجاح", {
                                        icon: "success",

                                    });


                                }
                            });
                        } else {
                            swal("التراجع عن مسح هذه الرسالة؟");
                        }
                    });
            }); 


            $("#bankPayment").on('click', '.confirsm-payment', function () {
                var button = $(this);
                swal({
                    title: "هل انت متاكد؟",
                    text: "هل انت متاكد   ؟",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                "url": "/Harag/Admin/Payment/ConfirmPayment/" + button.attr("data-paymentId") + "",
                                "method": "DELETE",
                                "success": function (result) {
                                    button.html("تم التاكيد");
                                    button.attr("disabled") = "disabled";
                                    swal("تم تاكيد الدفع  ", {
                                        icon: "success",

                                    });


                                }
                            });
                        }
                    });
            });
        });




</script>