 @model Nop.Web.Models.HaragAdmin.Customers.CustomersModel


@{
    ViewBag.Title = "Customers";
    Layout = "~/Themes/Pavilion/Views/HaragAdmin/shared/_Layout.cshtml";
}

@Html.Partial("~/Themes/Pavilion/Views/HaragAdmin/Shared/_DataTable.cshtml")


<div class="message-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">عرض</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>ارسال رسالة</label>
                    <div class="form-group">
                        <textarea id="userMessage" class="form-control" cols="60" rows="7"></textarea>

                    </div>
                    <div id="rateLbl"></div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">غلق</button>
                    <button type="button" id="sendMessage" class="btn btn-default">ارسال</button>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="page-title">الاعضاء</div>

<div class="table-responsive">
    <table id="customers" class="table table-bordered table-striped  table-condensed table-hover  table-light" cellspacing="5">
        <thead>
            <tr class="table-light">
                <th>رقم العميل</th>
                <th>الاسم</th>
                <th>الايميل</th>
                <th>الموبايل</th>


                <th>---</th>
            </tr>
        </thead>
    </table>
</div>




<script>
    var dataTable = $("#customers").DataTable({
    "serverSide":"true",
    "responsive": "true",
    "processing":"true",
    "autoWidth": "true",
    //"order": [[0, "des"]],
    "ajax": {

        "url":"/Harag/Admin/Customer/HaragCustomerAjax",
    "dataType": "json",
    "type":"post"
    },

    "columns": [
        { "data": "Id", "name": "Id", "width": "5%" },
        { "data": "Username","width":"5%"},
        { "data": "Email"},
        { "data": "Mobile", "width": "35%" },
        
        //{
        //    "data": "Active",
        //    "render": function (data,type,row) {
        //        return (data) ? '<input type="checkbox" checked disabled  />' : '<input type="checkbox"   disabled />';

        //    }
        //},
    
    {
        "data": "Id",
        "render": function (data, type, row) {
            return (row.Blocked) ? "<span  id='added' class='btn btn-xs btn-default' data-post-phone=" + row.Mobile + "  data-post-id=" + row.Id + " > مضاف الى القائمة السوداء </span>" + " " + "<button type='button'  data-user-id=" + row.Id + " class='btn btn-default' data-toggle='modal' data-target='#exampleModal'  >رسالة</button > " : "<span id='addToBlackList' class='btn btn-xs btn-default' data-post-phone=" + row.Mobile + "  data-post-id=" + row.Id + " > اضف الى القائمة السوداء </span>" + " " + "<button type='button'  data-user-id=" + row.Id + " class='btn btn-default' data-toggle='modal' data-target='#exampleModal'  >رسالة</button > ";

    }
         
    }


    ],
    "language": {
    "sProcessing": "جارٍ التحميل...",
    "sLengthMenu": "أظهر _MENU_ مدخلات",
    "sZeroRecords": "لم يعثر على أية سجلات",
    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
    "sInfoPostFix": "",
    "sSearch": "ابحث:",
    "sUrl": "",
    "oPaginate": {
    "sFirst": "الأول",
    "sPrevious": "السابق",
    "sNext": "التالي",
    "sLast": "الأخير"
    }
    }


    });


    $("#customers").on("click", "#addToBlackList", function () {
        var button = $(this);
       
       
        swal({
            title: "اضافة الى القائمة السوداء؟",
            text: "هل انت متاكد انك تريد اضافة هذا العضو الى القائمة السوداء ؟",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    var model = {
                        "CustomerId": parseInt(button.attr("data-post-id")),
                        "Phone": button.attr("data-post-phone")
                    };
                  
                    var values = JSON.stringify(model);
                    console.log("values " + values);

                    $.ajax({
                        url: "/Harag/Admin/Customer/AddToBlacList",
                        method: "post",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: values ,
                        success: function (result) {
                            //dataTable.row(button.parents("tr")).remove().draw();
                            //dataTable.rows().remove().draw();
                            swal("تم اضافة هذا العضو الى القائمة السوداء  ", {
                                icon: "success",

                            });


                        }
                    });
                    button.html("مضاف الى القائمة السوداء");
                } else {
                    swal("التراجع عن الاضافة الى القائمة السوداء؟");
                }
            });
    });
    $("#sendMessage").on("click", function () {

        var model = JSON.stringify({
            "Content": $("#userMessage").val()

        })

        $.ajax({
            url: "",
            type: "post",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data:model,
            success: function (data) {
                console.log("result "+data.data);

            }

        })

    });
   
</script>
    
