body{
    background-color:#fff!important;
}
#posts_wrapper {
    margin-top: 20px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: -26px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
        background:none !important;
        border:none!important
}
    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        outline: none;
        background-color: transparent !important;
        background: none !important;
    }
.dataTables_wrapper .dataTables_info 
{
    clear: both;
    float: right;
    padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
    float: left;
    text-align: right;
    padding-top: 0.25em;

}
.dataTables_wrapper .dataTables_paginate {
    float: left;
    text-align: right;
    padding-top: 0.25em;
    margin-left: 10px !important;
}

.dataTables_wrapper .dataTables_length {
    float: right;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: right;
}
    
    /*******front **********/
.page-title {
    text-align: right;
    margin-bottom: 22px;
    font-size: 25px;
    font-family: 'El Messiri', sans-serif;
   
}
.customer-search,.posts-search {
    background-color: #fff !important;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
    .posts-search {
        padding:32px;
    }
    .post-title {
        text-align: center !important;
        font-size: 29px;
        font-family: initial;
        margin-bottom: 43px;
    }
.detailsTextBox {
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.detailsDropDown {
    max-width: 500px;
    padding: 6px;
    border-radius: 10px;
    background-color: #fff;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
   .form-lbl {
        font-size: 15px;
        font-family: unset;
        margin-right: 18px;
    }
/*#comments , #messages  , #reports  {
  
}*/

#comments > span, #messages > span, #reports > span {
    font-size: 20px;
    text-align: center;
}
    #comment,#message,#report {
    background-color: #fff;
    max-width: 500px;
    border: green 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin-top:20px!important;
}
    #comment span, #message span, #report span {
        margin-left: 20px;
    }
#addCategory, #addSubCategory {
    margin-bottom: 20px;
}

/*#carouselExampleControls {
    
 max-height: 400px !important;
    text-align: center;
    background-size: cover !important;
    margin-top: 20px;
    margin-bottom: 40px;
}*/
#carouselExampleControls img{
    /*max-height:500px!important;*/
    width:100%!important;
    height:350px!important;
    background-size:cover!important;
}
.table.dataTable tbody tr {
    background-color: #fff!important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #dcdcdc55!important;
}
.table-responsive {
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 16px!important;
}
#nav-home-tab, #nav-profile-tab, #nav-contact-tab {
    font-family: 'Cairo',sans-serif;
    font-size: 20px;
    color: #000;
}
    #nav-home-tab.active, #nav-profile-tab.active, #nav-contact-tab.active {
       
        color: #3c8dbc;
    }

    /*******front end**********/